table {
    table-layout: fixed;
    border: 3px solid rgb(196, 186, 186);
    border-collapse: collapse;
}

th {
    border: 1px solid black;
}

tr {
    border: 1px solid rgb(218, 201, 201);
}

th:nth-child(1) {
    text-align: start;
    width: 10ch;
}

th:nth-child(2) {
    width:20ch;
    text-align: start;
}

th:nth-child(3) {
    text-align: start;
    width: 20ch
}