footer {
    display: grid;

    grid-template-areas:
        "contact about"
        "social join"
        "disclaimer disclaimer";
    justify-items: center;
    background-color: #666464;

    text-align: center;
    margin-top: 100px;
    padding: 10px;

}

footer p a {
    color: #fcf5f5;
    text-decoration: none;
    display: inline;
    font-size: 15px;
    font-weight: bolder;
}

footer>a {
    color: black;
    font-size: large;
    margin-bottom: 1ch;
}


.disclaimer {
    grid-area: disclaimer;
    color: white;
    text-align: start;
}