footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    background-color: #666464;
    color: white;
    text-align: center;
    margin-top: 100px;
    padding: 10px;
}

footer p a {
    color: black;
    text-decoration: none;
    display: inline;
    font-size: 15px;
    font-weight: bolder;
}

#i1{
    background-color: aqua;
}

#i2 {
    background-color: green;
}

#i3 {
    background-color: blue;
    grid-column: 1 / 3;
}