body {
font-family: Times New Roman;
}
/**** TAGLINE ***/
#nav1
{
left:1%;
text-align:right;
}

/*** MENU ***/
ul.nav_bar
{
list-style-type:none;
margin:0%;
padding:0%;
padding-top:10px;
padding-bottom:0.6%;
width: 65%
}
a.nav_bar
{
text-align:center;
padding:0.6%;
text-decoration:none;
font-family:verdana;
font-size:14px;
}

/*** SIDE BAR ***/

ul.side_bar
{
list-style-type:none;
margin:0%;
padding:0%;
}

/**** SIDE BAR LINKS ****/
a.side_bar
{
text-decoration:none;
font-family:verdana;
display:block;
padding-top: 1%;
padding-bottom:1%;
padding-left:1%;
line-height: 1.5em;
}

/*********************** Created by Developer Ravi*****************/

body{
   margin:0px;
    background: #f6f2eb;
    width: 100%;
    float: left;
}

/*****----------------Header start----------*****/   

/******Responsive Menu******/
.responsive-menu {
display:none;
}

/*********** HEADER ***************/

div.navigation{
   background: linear-gradient(#c38f4d,#d0a875,#c28e4c);
   height:auto;
   width: 100%;
   padding-left: 0;
   position:unset;
   float: left;
   background: -webkit-linear-gradient(#c38f4d,#d0a875,#c28e4c);
	background: -o-linear-gradient(#c38f4d,#d0a875,#c28e4c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#c38f4d,#d0a875,#c28e4c); 
}
#nav1{
   background:none; 
   float:left;
   width:82%;        
   margin-top:0px;
   line-height:32px;  
}
.language-change{
width: 100%;	
float:right;
margin: 6px 0px 6px 0px; 
}
.language-change span{
font-size:16px; 
color: #000;
font-weight:bold;
}
.language-change span.hindi-lang{
border-right: 2px solid #000;
padding-right:2%;            
margin-right:2%;             
}
.language-change span.eng-lang{
pointer-events:none;
}
.language-change span.eng-lang a {
    color: #000;
    text-decoration: none; 
}

/***** ENGLISH TAGLINES *****/

div#nav2 {
background:none; 
   float:right;
   width:80%;
   margin-bottom:7px;
   left:1%;
   text-align:right;
}

.header-wrapper{
    margin: 0 auto;
    width: 90%;
}

/***** LOGO *****/

.logosms{
    width: 18%;
    float: left;
	padding: 26px 0px 0px 0px;
}
.logosms img {
    width: auto;
    position: relative; 
   top: 27px;           
    left: 17px;          
}

/***** NAVIGATION MENU *****/

.main-navi{
    float: left;
    width: 100%;
    background-color: #fff;
    color: #eaa56e; 
}
/***** HINDI TAGLINE BIG *****/

h1.main1-hindi{
left:5%;
font-family:verdana;
color:#ECE5DD;
margin: 0px;
letter-spacing: 1px;
font-weight: normal;
font-size: 26px;
}
/***** ENGLISH TAGLINE BIG *****/

h1.main1-english{
left:5%;
font-family:verdana;
font-size:20px;
color:#ECE5DD;
margin: 0px;
font-weight: bold;
}
/***** HINDI TAGLINE SMALL *****/

h3.main-hindi{
font-weight: normal;
font-size: 20px;
margin-top: 0em;
color: #251B62;
}
/***** ENGLISH TAGLINE SMALL *****/

h2.main-english{
left:1%;
font-family:verdana;
font-size:16px;
color: #251B62;
margin-top: 7px;
}
/***** NAVIGATION MENU LINKS *****/

.main-navi ul{
   width:67%;
   float:left;
}
/***** ONLINE REGISTER FORM *****/

.online-reg  { float: right;
    width: 33%;
    text-align: center;
    font-size:20px;
	padding: 8px 0px 7px 0px;
	}
.online-reg  a{
	font-size: 19px;
	font-weight:bold;
}	
.online-reg a:hover { 
    color: #158215;
}
/***** NAVIGATION MENU LINKS *****/

.main-navi ul li a{
   color: #DD823A;
}
  
.main-navi ul li.nav_bar:hover a {
    color: #0e00fb;
    padding-bottom: 4px;
    border-bottom: 2px solid #B8B8B8;
}   
.main-navi ul li.active a {
    border-bottom: 2px solid #B8B8B8;
	padding-bottom:4px;
}
  .main-navi ul li.nav_bar {
    display: inline;
    padding: 0px 1% 0px 0.5%;
}
.main-navi ul li.nav_bar:first-child {
    padding-left: 20px;
}
/*****----------------Header end----------*****/  
/******************** MAIN CONTENT  ***********************/

/*** Left Bar ***/

.sidebar2 {
  position: unset;
  padding: 0px;
  background: -webkit-linear-gradient(#F1F2E4 , #F1F2E4, #ffffff);
  background: -o-linear-gradient(#F1F2E4 , #F1F2E4,#ffffff);
  background: -moz-linear-gradient(#F1F2E4 , #F1F2E4,#ffffff);
}

div.left_bar, .sms-procedure, .activation-step {
    position: unset;
    float: left;
	padding:0px;
	width: 65%;
       background: -webkit-linear-gradient(#F1F2E4 , #F9F9F3,#ffffff);
  background: -o-linear-gradient(#F1F2E4 , #F9F9F3,#ffffff);
  background: -moz-linear-gradient(#F1F2E4 , #F9F9F3,#ffffff);
}
.activation-step.activation-mobile-step {
  background: -webkit-linear-gradient(#F1F2E4 , #F9F9F3, #F9F9F3);
  background: -o-linear-gradient(#F1F2E4 , #F9F9F3,#F9F9F3);
  background: -moz-linear-gradient(#F1F2E4 , #F9F9F3,#F9F9F3);
}
div.sidebar{
    padding:0px;
    float: left;
    width: 100%;
    background:linear-gradient(#F2F2E4 , #ffffff,#ffffff);
	background: -webkit-linear-gradient(#F1F2E4 , #ffffff,#ffffff);
	background: -o-linear-gradient(#F1F2E4 , #ffffff,#ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F1F2E4 , #ffffff,#ffffff); 
    color:#000000;
}

input#header1, input#header2, input#header3, input#header4, input#_5, input#_6, input#_7, input#_8, input#_9, input#sidebartoggler, input#_1, input#_2, input#_3, input#_4 {
    display: none;
}
/*** Sub Menu **/

.steps{
    padding: 3px 0px 0px 0;  
    background-color: #F1F2E4;
    float: left;
    width: 100%;
	color:#000; 
}
.steps p{
    font-size: 25px;
    margin: 0px;
    font-style: italic;
    padding: 11px 0px 0px 19px;
}
span.steps-3-heading {
    pointer-events: none;
}  
.steps p span.see-more{
    font-size: 20px;
}
.step-header .steps p b {
 border-bottom: 3px solid;
    padding-bottom: 2px;
}
.steps p span.see-more a{
    color:blue;
}

.blue{
    color:#0e00fb;
}
.activation-step{
    width: 100%;
    float: left;
}
.act-step h2 {
    font-size: 25px;
}
.step-text{
    width: 100%;
    font-weight: bold;
	padding-bottom: 10px;
    font-size: 20px;
}
ol.act-step-ol {
    padding-left: 15px;
    width:100%;
	float:left;
	font-size: 20px; 
	margin-top: 0px;
}

ol.act-step-ol li{
	width:90%;
	float:left;
	padding:10px 0px;
	list-style-type: decimal;
}
.Code-SMS {
    float: left;
    width: auto;
    margin: 12px 0px 10px 0px;
	padding: 0px 0px 0px 22px;
    background: -webkit-linear-gradient(#F9F9F3, #F9F9F3, #ffffff);
  background: -o-linear-gradient(#F9F9F3 , #F9F9F3,#ffffff);
  background: -moz-linear-gradient(#F9F9F3 , #F9F9F3,#ffffff);

}
span.unibull {
    padding-right: 6px;
    float: left;
    width: 10px;
}
.Code-SMS h3{
   float:left;
   margin:0px;
   font-size: 21px;
   width:92%;         
   padding-left:7px;  
}

.Code-SMS li {
    width: 100%;
    float: left;
}
.Code-SMS p{
    float: left;
    margin: 0px 0px 16px 0px;
    text-align: left;
    font-size: 20px; 
    width:95%;
    padding-left: 6px;
    line-height: 25px;  
}
span.voice {
    font-weight: bold;
	font-size: 22px; 
}
p.voice {
    font-weight: bold;
	font-size: 22px; 
     margin: 11px 0px;
}
.act-step2{               
    float: left;
    padding: 0% 2% 0% 5%;
}
.act-step{
    float: left;
    padding: 0% 2% 0% 5%;
}

/*Search by mobile number panel*/

.mobile-form{            
   width: 100%;
    float: left;
    background: #f9fbdf;
    padding-top: 0px;
    padding-bottom: 1%;

}
.searchform{
   width:100%;
   float:left;
}
.searchform h3{
   font-weight:normal;
   font-size: 22px;      
   margin-bottom: 18px;
}
span.search {
    width: 40%;       
    float: left;
    font-size: 17px;
    padding: 0% 2%;
	text-align: left;
}

.searchinput{
   width:50%;
    float: left;
}
.searchinput input{

    height: 36px;
    background-color: transparent;
    border: 1px solid #69b3f8;
    margin-bottom: 10px;
	width:100% !important;
	padding:0px;
	font-size:18px;
	display: inline-block;
}
.searchinput input {
    outline-offset: 0px !important;
}
.searchinput-btn {
    width: 100%;
    float: left;
    text-align: center !important;
}
.searchinput-btn input {
    background-color: #e1e1e1;
    border: none;
    height: 30px;
    width: 32% !important;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
}
.version{
    width:100%;
	float:left;
}
.version p{
   width:49%;
   float:left;
}
.version p a{
  color:#2e61c0;
  border-bottom:1px solid #b7b7b7;
  text-decoration: none;
    padding-bottom: 9px;
}
.version p.for-mobile{
   border-right:1px solid #b7b7b7;
}
.version p.for-hindi{
    text-align:right;
    position:relative; 
    bottom:7px;        
}
/** Text Contents **/
.text-content{
   width:100%;
   float:left;
   background:#f2f2e4;
}
.text-content .act-step .inner-content{
   width:100%;
   float:left;
}
.text-content h3{
  text-align:center;
  color:#454342;
  text-decoration:underline;
  font-size:24px;
   width:100%;
   text-transform:uppercase;
   margin-bottom: 0px;
   pointer-events: none;
}

#text-contents-list.act-step {  /*Text Contents List */
  float: left;
  padding: 0% 2% 0% 4%;
  width:98%;
  margin-top: -15px;
}
.text-content .act-step .inner-content ol li { /*Individual list of Text Contents point B*/
    width: 94%;                                
    float: left;
    color: #2e61c0;
    font-size: 21px;
    /*text-decoration: underline;*/
    padding-bottom: 19px;
    line-height: 27px;
    margin-left:-14px;  
}
li.li-main{
list-style: none;
  text-indent: -30px
}
span.upper-alpha {
  padding-right: 3px;
  position: relative;
  top: 1px;
}
span.upper-alpha.upper-alpha-C {
  margin-left: -2px;
}
span.underline1 {
  text-decoration: underline;
  margin-left:3px;
}
.text-content .act-step .inner-content ol li a{
    color: #2e61c0;
}                  

.inner-text {
    width: 100%;
    float: left;
}
.inner-text li {
    text-decoration: none !Important;
    color: #000 !important;
}
#text-contents-details1.inner-text, #text-contents-details2.inner-text, 
#text-contents-details3.inner-text, #text-contents-details4.inner-text { 
  width: 96%;                               
  float: left;
  padding-right: 0%;   
}
h3#aim-h {             
  margin-left: -29px;
}

.inner-text p {
    font-size: 21px; 
    line-height: 28px; 
    width:95%;         
    margin-left:-31px; 
    float: left;
	margin-bottom: 9px;
    margin-top: 9px;
}
p#aim1, p#aim2, p#aim3, p#aim4 {
      margin-left: -28px;  
}

li#procedure-step1, li#procedure-step2, 
li#procedure-step3, li#procedure-step4{  
  margin-left: -48px;
}
li#procedure-step-detail1, li#procedure-step-detail2,
li#procedure-step-detail3, li#procedure-step-detail4{  
  margin-left: -35px;
}
li#procedure-step-detail1 {
  margin-top:-5px;
  margin-bottom: -5px;
}
a.word-wrap {    
  word-wrap: break-word;
}
li#postpaid-mobile-user { 
  margin-top: 15px;  
  margin-left:-80px;
  padding-bottom: 0px;
}
li#prepaid-mobile-user {   
    margin-left:-80px;
    margin-top: -12px;
    margin-bottom: -7px;
}
p#sendmail {           
  margin-top: 0px;
  margin-bottom: -10px;
}
.arrow-less{
     cursor:pointer; 
     width: 100%;
     float: right;
     text-align: right;
     font-size: 20px;
     font-weight: bold;
     color: #F26C2F;
     position: relative; 
     bottom: 16px;  
	 }
h3#necessary2 {             
  margin-left: -24px;
}
p#necessary3 {             
  margin-left: -24px;
}
p#unregistered2, p#unregistered3 {        
  margin-left: -28px;
}
p.procedure2 {
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: -55px;
}
p.after-activation {
    margin-left: -70px;
    margin-top: 3px;
}
p.video-request {           
      margin-top: 15px;
    margin-left: -2px;
}
p.video-request-or {
  margin-top: -11px;
  margin-left: -2px;
}
.back{
    text-align: right;
    float: right;
    font-size: 18px; 
    padding-top:20px; 
    padding-right: 5px;
    position: relative; 
    bottom: 10px;  
}

/********************Main content end ***********************/

/*******************Sidebar******************/    
 div.side_bar{ 
   float:right;
   right:0%;
   background: linear-gradient(#f3ebe2,#ffffff,#f6f2eb);
   background: -webkit-linear-gradient(#f3ebe2,#ffffff,#f6f2eb);
   background: -o-linear-gradient(#f3ebe2,#ffffff,#f6f2eb); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(#f3ebe2,#ffffff,#f6f2eb); 
   width: 35%;
   padding-left: 0;
} 

.heading-arrow-less{
  display:none;
}
.head-down{
pointer-events:none;
   cursor: default;
}
ul li.side_bar {
    list-style-type: circle;
	}
ul li.social-icons {
    display: inline-block;
    padding-left: 0px;
    margin-left: 0px;
}	
ul.side_bar li.facebook{
  margin-left: 7.5%;
}
.side_bar li.social{
   list-style: none !important;
   }
 ul#respons-text1,  ul#respons-text2, ul#respons-text3, ul#respons-text4, ul#respons-text5 {
  padding-left: 6%;
}
.side_bar h2.heading{
   background:none;
   color:#f26c2f;
   text-decoration:underline;
   text-align: left;
    padding-left: 7%;
	margin: 12px 0px 4px 0px;
    font-size: 24px;
}
a.side_bar:link, a.side_bar:visited{ 
  font-weight:normal;
  color:#000;
  font-size:16px;
}
a.side_bar:hover {
    color: #158215; 
    text-decoration: underline;
    font-size:16px;
}
a.side_bar.orange:hover {
  color: #F26C2F !important;
  font-size:16px;
}
li.share-side{
       padding: 13px 0px 12px 11px;
	   background:#5dc9ce;
}
/**=================Sidebar end===============***/  

/**=================footer start===============***/ 
.footer  {
    background-color: #464646;
    padding: 20px;
    color: #fff;
    border-top: 8px solid #bfbfbf;
	border-bottom: 8px solid #bfbfbf;
	float: left;
}
.footer-text{
   width:100%;
   float:left;
}
a#licence1:link,         
a#licence1:visited,
a#licence2:link,         
a#licence2:visited{
  color:#f9ef04;
  }
  a#licence1:hover,       
  a#licence1:active,
  a#licence2:hover,       
  a#licence2:active{
  color: brown;
  }
 a#reference1:link,         
a#reference1:visited,
a#reference2:link,         
a#reference2:visited{
text-decoration: none;
  color: #FFFFFF;
  }
  a#reference1:hover,       
  a#reference1:active,
  a#reference2:hover,       
  a#reference2:active{
  color: #9a9a9a;
  }
.mobile-view-display  {
display:none;
}

/**********Mobile Footer**********************/

a.footer-mobile-text:link,      
a.footer-mobile-text:visited {
text-decoration: none;
  color: #FFFFFF;
  }
  a.footer-mobile-text:hover,    
  a.footer-mobile-text:active {
  color: #9a9a9a;
  }
  /*********Mobile Footer end***************/
/**=================footer end===============***/ 

/*****************Responsive*@*CSS********************/

/**************@media (max-width: 766px)*****************/
@media screen and (max-width: 766px){

/***************Responsive**Menu MAX 766 **************/
/** Header MAX 766 **/
.main-navi {
   width: 97%; 
}
h1.main1-hindi, h3.main-hindi {
    display:none;     
}

.logosms img {
	display:none;
}
h1.main1-english {    
   line-height:27px;
}
/** Menu MAX 766 **/
ul.respons-menu {
    width: 100%;
    padding-left: 0px;
    text-align: center;
    background-color: #e0e0e0;
	 height: auto;
    width: 100%;
	padding-top: 0px;
}
.respons-menu li.nav_bar {
    float: left;
    position: relative;
    width: 100%;
    border-bottom: 2px solid #000;
   padding:2px 0px !important; 
   font-size: 35px;
}
.responsive-menu {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10% 100%;
    display: block !important;
    height: 24px;
    text-align: center;
    padding: 1px 0px;
    background: linear-gradient(#000000,#ffffff,#000000,#ffffff, #000000);
    width: 10%;
    margin: 2px auto;
}

span.responsive-menu:before {
  content: "Menu";
  position: relative;
  right: 63px;
  top: 3px;
}
a.nav_bar {        
  font-size: 17px;
}
div.navigation {
   height: 100%;
}

.main-navi {
    width: 100% !Important;
    padding-left: 0px;
	float: left;
}
.online-reg {
  width: 100%;
}
/** Sub Menu Max 766 **/

.steps {
    float: left;
    width: 100%;
	background-color: #158215;
	color: #fff;
        padding: 10px 0px 0px 0px;
}
.steps p {
   padding: 11px 0px 7px 19px;
}
span.see-more {
  display:none;
}
.see-more2:after {
  font-size:17px;
  content: "(Tap to Show)";
}
.act-step {
    padding: 0% 1% 0% 4%;
    width:85%;
}
div.left_bar, .sms-procedure {
    display:block;
    width: 100%;
}
ol.act-step-ol li{
     line-height: 29px;
}
.Code-SMS {
 padding-left: 5px; 
}
/***************side_bar MAX 766 ***************/

.mobile-links{
    display:block !important;
    width: 100%;
    background: #704002;
	float:left;
}
h2.important-links.aim-important {
  padding: 5px 0px 5px 28px;
  color: #fff;
  text-align: left;
  width: 90%;
  margin: 15px 0px;
}
span.aim-collapse2 { 
    font-size: 16px;
    color: #fff;
}
.side_bar h2.heading {
    margin: 18px 0px 18px 40px;
}

div.side_bar {
    width: 100%;
}
ul.side_bar {
	width:98%; 
    float: left;
}
ul#respons-text1,  ul#respons-text2, ul#respons-text3, ul#respons-text4, ul#respons-text5 {
  padding-top: 2%;
  font-size: 17px;
  line-height: 27px;
}
.mobile-share-hide {
  display: none;
}
ul li.side_bar {
    margin-left: 5%;
    width: 92%;
    float: left;
	    text-align: left; 
    margin-bottom: 5px;
}
.head-down{
    pointer-events: auto;
    cursor: default;
}
li.social{
   list-style: none !important;
   width: 92% !Important;
   margin-left: 10px !Important;
   padding-left:0px !Important;
}
/****** left bar MAX 766 *********/
div#text-contents-list {
   padding: 0% 0% 0% 2% !important;
}
ol#text-contents-list2:first-child {
  margin-top: 35px;
}
.inner-text p {
   width:105%;
}
.activation-step {
     width: 98%;
}
.text-content h3{
 pointer-events: auto;
    cursor: default;
}
ul li.social-icons {
    width: auto !Important;
}
.heading-arrow-less{ 
   cursor: pointer;
    width: 100%;
    float: right;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    color: #F26C2F;
	display:block;
    bottom: 0px;
   padding: 4px 11px 7px 0px;
}

span.steps-3-heading {
    pointer-events: auto;
	cursor: pointer;
	margin-left: 20px;
}
.text-content .act-step .inner-content ol li {
    width: 96%;
}

/*** Footer MAX 766 ***/ 

.footer{
display:none;
}
.mobile-view-display  {
    background-color: #464646;
    padding: 20px 0px;
    color: #fff;
	display:block;
    border-top: 8px solid #bfbfbf;
	border-bottom: 8px solid #bfbfbf;
	float: left;
	width:100%;
}
ul.mobile-footer {
    padding: 10px;
	list-style:none;
}
.mobile-footer li {
    width: 33%;
    float: left;
    text-align: center;
}

}/******END*****@media (max-width: 766px)******End*******/


/*****==@media screen and MIN-WIDTH: 242px) and (max-width: 566px)==*****/ 
@media screen and (min-width: 242px) and (max-width: 566px){
div.navigation {
    width: 100%;
    background-color: #CFA671; 
}
.logosms {
    display: none !important;
}
#nav1 {
    width: 100%;
}
h1.main1-hindi {
    font-size: 24px;
    display:none;    
}
h3.main-hindi {
    font-size: 19px;
    width: 80%;
    float: right;
    display:none;   
}
div#nav2 {
     width: 85%;    
	 margin : 0px;
         line-height: 26px;   
}
h1.main1-english {
    font-size: 19px;
}
h2.main-english  {
    font-size: 15px;        
    padding-right: 1%;
	    width: 100%;      
    float: right;
}
a.nav_bar { 
    font-size:17px !important;  
}
.online-reg {
    width: 100%;
}
/**************Side_bar 241-566*****************/

h2.important-links.aim-important {
      padding: 0px 0px 0px 28px;
}
.act-step {        
  width:87%; 
  margin-left:2%;
}
.Code-SMS h3 {           
  font-size: 20px;
  width: 92%;
  padding-left: 7px;
}
.Code-SMS p {
    font-size: 18px;
    width:92%;       
}
div.side_bar {
   width: 100%;
   margin-bottom: 7px;
}

.side_bar h2.heading {
   font-size: 19px;
   padding-left: 5px;
   width: 85%;
   text-align: left;
}
.inner-text p a.blue { 
    font-size: 19px;
}

/***********left-bar 241-566 ******************/
.left_bar, .sms-procedure {
    width: 100% !Important;
}
.mobile-links .act-step .important-links { 
    padding: 0px 0px 0px 10px;
}
.steps p {
    font-size: 18px; 
    padding: 0px 0px 9px 14px;  
    line-height:34px;
    width:90%;        
}
span.3-steps-heading {   
    padding-left: 10px;
 }
.see-more{
    font-size:15px !important;  
}
ol.act-step-ol {
    padding-left: 15px;
}
.searchform h3 {         
    font-size: 18px;
}
.searchinput {    
  width: 50%;
  float: left;
  padding-left:3%;
}
.searchinput-btn input {   
   width: 75% !important;
}
.text-content {
    width:100%;
}
#text-contents-list.act-step.act-step-mobile {    
  float: left;       
  width: 94% !important; 
  padding: 5% 0% 0% 4%;  
}
.text-content .act-step .inner-content ol li {
  width: 92% !important;
}
ul#procedure.detail {
  width: 90% !important;
}
li#procedure-step-detail1, li#procedure-step-detail2, li#procedure-step-detail3, li#procedure-step-detail4 {
  width: 120% !important;
}
.inner-text p {   
  font-size: 21px;
  line-height: 28px;
  width: 110%;
  margin-left: -65px;
}
p.procedure2 {
  width: 130% !important;
}
li#postpaid-mobile-user.mobile-user {      
  margin-left: -81px;
  padding-bottom: 0px;
  margin-top:34px;
  clear: both;
}
li#prepaid-mobile-user.mobile-user { 
  margin-left: -77px;
  margin-top:5px;
  padding-bottom: 0px;
  clear: both;
}
  li#postpaid-mobile-user, ol.postpaid-docs, li#prepaid-mobile-user, ol.prepaid-docs {
  width: 110% !important;
}
/****************mobile-form 241-566 ****************/
.act-step {
   padding: 0% 3% 0% 7%;
}
.version {
    display: none;
}
span.search {       
    width: 95%;
    font-size: 14px;
}
.searchinput {
    width: 66%;
    float: left;
    padding-top: 12px;
}
.searchinput-btn input {
    width: 60% !important;
}

 }/****END**@media (min-width: 242px) and (max-width: 566px)**End****/


/********START  567-665px =Android 4in Landscape= *****/
@media screen and (min-width: 567px) and (max-width: 665px) {

/*************Header 567-665 ***************/

div#nav2 {
    float: right;
    width: 100%;
    margin: 0px 0px 8px 0px;
}
h1.main1-english{
    font-size: 17px !important;
}
h2.main-english {
     padding-right: 0%;
     font-size: 15px;
}
.responsive-menu {
   background-size: 6% 100%;
   width: 8%;
}
.online-reg {
    width: 100%;	
}
	
/************sidebar 567-665 *************/

.act-step {
    padding : 0% 1% 0% 4%;
}
h2.important-links {
font-size: 25px;
   margin: 0px;
   }    
.side_bar h2.heading { 
  
   font-size: 20px;
   padding-left: 10px;
   width: 98%;
   text-align: left;
}

/***********left-bar 567-665 **************/

.steps p {
    padding: 0px 0px 7px 14px;
    font-size: 24px;
	line-height:37px;
}
.steps p span.see-more{
    font-size: 20px !important;
}
span.search {
    width: 60%;
    float: left;
    font-size: 17px;
    padding-bottom: 4%;
}
.searchinput {    
  width: 50%;
  float: left;
  padding-left:3%;
}
.searchinput-btn input {
   width: 54% !important;
}
.version {
    display: none;
}

}/***** End 567-665px *****/

/***************** START 666-737px ==****************/

@media screen and (min-width: 666px) and (max-width: 737px) {
/*************Header 666-737 ***************/
div#nav2 {
    float: right;
    width: 100%;
    margin: 0px 0px 8px 0px;
}
h1.main1-english{
    font-size: 17px !important;
}
h2.main-english {
     padding-right: 1%;
}
.responsive-menu {
   background-size: 7% 100%;
   width: 7%;
}
.online-reg {
    width: 100%;
}
/************sidebar 666-737 *************/
.important-links {
    padding: 26px 0px 26px 28px;
}
.side_bar h2.heading {
     margin-left: 0px;
     font-size: 20px;
}
.act-step {
    padding : 0% 1% 0% 4%;
}
h2.important-links {
font-size: 25px;
   margin: 0px;
   }  
#text-contents-list.act-step { 
  width: 94%;
}

/***********left-bar 666-737 **************/
.steps p {
    padding: 0px 0px 7px 16px;
	line-height:35px;
}
span.search {
    width: 60%;
    float: left;
    font-size: 17px;
    padding-bottom: 4%;
}
.searchinput-btn input {
   width: 54% !important;
}
.version {
    display: none;
}

}/********************** End 666-737 ************/

/*** Tap to see more Mobile Sub Menu block **/

@media screen and (min-width: 452px) and (max-width: 766px) {
.steps-3-heading:after {

  font-size:17px;
  content: "  (Tap to Show)";
  margin-left: 8px;
}
.see-more2 {
  display: none;
}

}

@media screen and (min-width: 240px) and (max-width: 451px) {
.steps-3-heading:after {
  display:none;
}
}/** End Mobile Sub Menu Block ***/

/*******************  START 738-766  *******************/
@media screen and (min-width: 738px) and (max-width: 766px) {

.act-step {
    width:89%;
	float:left;
}
.online-reg {
  width: 100% !important;
}
.online-reg a {
    font-size: 18px !important;
}
ol.act-step-ol {
    margin-top: 6px !important;
}
}/***** END 738-766 ***/
    
    /*** START 738-790 = IPad Mini Potrait=***/
@media screen and (min-width: 738px) and (max-width: 790px) {

/*************Header 738-790 ***************/

div.navigation {
  height: 100%;
}
.logosms img {
	display:none !important;
}
#nav1 {
      display:none;
}
div#nav2 {
    float: right;
    width: 100% !important;             
    margin: 0px 0px 8px 0px;
}

h2.main-english{
     padding-right: 1%;
}
.main-navi {
    float: left;
    width: 100%;
    background-color: #fff;
    color: #eaa56e;
    padding-left: 0px;
}
.main-navi ul {
  width: 65%;    
  float: left;
}
li.nav_bar {
  padding-right: 0 !important;
    margin: auto 0.5% auto auto;
}
a.nav_bar {
  font-size: 14px !important;
}
.responsive-menu {
  display:none;
}
.online-reg {
    width: 35%;                   
	padding: 8px 0px 3px 0px;
    font-size: 18px !important;
}
.online-reg a {
    font-size: 18px !important;
}
a.nav_bar:link{
    font-size: 12px;
}

/************sidebar 738-790 *************/
.important-links {
    padding: 13px 4px;
    margin: 0px;
}

.act-step {
    padding : 0% 1% 0% 6%;
}
.act-step h2 {
    font-size: 20px;
}
.side_bar h2.heading { /*sidebar heading*/
     text-align: left;
    padding-left: 0px;
	font-size: 19px;
	width:99%;
}

/***********left-bar 738-790 **************/
div.left_bar, .sms-procedure{
   text-align:left;
}
.steps p {
    padding: 11px 0px 10px 16px;
}
ol.act-step-ol {
    margin-top: -12px;
}
span.search {
    width: 60%;
    float: left;
    font-size: 17px;
    padding-bottom: 4%;
}
.searchinput-btn input {
   width: 54% !important;
}
.version p {
    width: 50%;
    float: left;
    text-align: center;
    border-right: none !important;
}
.version p.for-hindi {
    text-align: center;
}

}/******END  738-790 *****/

/***************** START 950-1024px) ==***********/
@media (min-width:950px) and (max-width:1024px){

div#nav2 {
    float: right;
    width: 100% !important;             
}
.main-navi ul li.nav_bar {
    padding-left: 8px;
}
.steps p {
    font-size: 24px;
    word-spacing:5px;
}
span.search {
    width: 36%;
    padding-right: 5%;
}
.side_bar h2.heading {
     padding-left: 3%;
     font-size: 24px;
}

.mobile-view-display  {
display:none;
}

}/*************** END 950-1024 *******************/

/**************** START 700-768 ****************/
@media (min-width:700px) and (max-width:737px){
div#nav2 {
    float: right;
    width: 100% !important;             
}
.online-reg {
  width: 100%;
}
}
/***** START 791-949 = 110 and 125 percent at 1024 res ****/
@media (min-width:791px) and (max-width:949px){
.logosms img {
    width: 60%;
    padding-top:0px;
    position: relative;
    top: 25px;
}
.logosms {
    padding: 0px;
}
#nav1 {
        display:none;
}
 
div#nav2 {
    float: right;
    width: 85% !important;             
    margin-top: -35px;
}
h1.main1-english {    
    font-size: 18px;
}             
  .steps p {
    font-size: 19px;
    word-spacing:4px;
}
p#readhindi {
    font-style:normal;
}
.main-navi ul li.nav_bar {
  display: inline;
}
a.nav_bar:link{
  font-size: 14px;
 }
div.navigation{
  height:auto;
} 
.online-reg {
    width: 33%;
	padding: 8px 0px 7px 0px;
}
.side_bar h2.heading {
     padding-left: 2%;
     font-size: 20px;
}
ol.act-step-ol {
    margin-top: 12px;
}
/************footer 791-949 ***********/

.mobile-view-display  {
display:none;
}

} /**** End 791-949 ***/

@media screen and (min-width: 240px) and (max-width: 320px) {

body {
  width :97%;
  word-break: break-word;
}
.responsive-menu {
  width: 17%;
}
.Code-SMS h3, .Code-SMS p {
  width: 88%;
}
h2.important-links.aim-important {
  width:85%;
}
.side_bar h2.heading {
  width: 85%;
}
}  /*** End 240-320 ***/
/*******************************************************************/