body
{
font-family: Mangal;
background-color:#F0F8FF;
}

div.header
{
position:absolute;
left:0%;
top:0%;
width:100%;
height:auto;
text-align:center;
color:#EE82EE;
background-color:#000000;
}


div.login_panel
{
position:absolute;
left:0%;
width:98%;
top:180px;
padding:1%;
}
div.login_panel p, div.login_panel li {
    font-size: 19px;
    line-height: 35px;
}
.login_panel.login_panel_show_unregistered {
  top: 150px;
}
td.nowrap
{white-space: nowrap;}


td.wrap
{word-wrap: break-word;
}

#customers
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
#customers td, #customers th 
{
font-size:1em;
border:1px solid #98bf21;
padding:3px 7px 2px 7px;
}
#customers th 
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#191970;
color:#ffffff;
}
#customers tr.alt td 
{
color:#000000;
background-color:#B0C4DE;
}
.login_panel.login_panel_urlcount {
    top: 220px;
}
p.paragraph{font-size:1.2em;word-spacing:.3em;line-height:1.5em;}

/**** START MAX 750 ****/
@media (max-width: 750px) {
           div.header h1 {
        font-size: 30px;
        line-height: 35px;
        }

             h1.urlcount-h1 {
  display: none;
  font-size: 27px;
  line-height:39px;
}
               h1.urlcount-h2 {
  font-size: 24px;
}
              .urlcount-info {
                word-wrap: break-word;
                font-size: 18px;
                  line-height: 33px;
                 }
                 .login_panel.login_panel_show_unregistered, .login_panel.login_panel_urlcount {
  top: 191px;
}
div.login_panel pm div.login_panel li {
    font-size: 19px;
    line-height: 35px;
}
div.login_panel_showcodes {position: absolute;left: 0%;width: 98%;top: 275px;padding: 1%;}
		
		/* Force table to not be like tables anymore */
		#customers table, #customers thead, #customers tbody, #customers th, #customers td, #customers tr {
			display: block;
		}

		#customers table{border:1px #98bf21 solid}
		#customers tr:nth-child(even) td{ background: #efefef }

		/* Hide table headers (but not display: none;, for accessibility) */
		#customers thead tr:first-child {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		table#customers.showcodes tbody tr:first-child, 
                table#customers.issue-category  tbody tr:first-child,
                 table#customers.spamurl tbody tr:first-child, table#customers.showurl tbody tr:first-child,
                 table#customers.unregister_sms_opinion tbody tr:first-child, 
                 table#customers.show tbody tr:first-child,
                 table#customers.showbyvoter tbody tr:first-child,
                 table#customers.show_unregistered tbody tr:first-child,
                 table#customers.showurl_unregistered tbody tr:first-child, 
                 table#customers.table1 tbody tr:first-child, table#customers.table2 tbody tr:first-child, 
                  table#customers.table3 tbody tr:first-child,
                  table#customers.sccode tbody tr:first-child  {
                       position: absolute;
                       top: -9999px;
                       left: -9999px;
                 }

		
		#customers td  {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding: 6px;
			padding-left:43%;
		
			border-bottom: 2px rgba(255, 255, 255, 0.65) groove;
			width: auto;
			min-height: 20px;
			text-align: left;
		
			word-break: break-all;
		}
		#customers td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			
			left: 2px;
			color: #191970;
			bottom: 0;
			width: 45%;
			 
			font-weight:bold;
		
			font-size: 1em;
			word-spacing:2px;
		        letter-spacing :1px;
                        white-space: normal;
		}

		/*
		Label the data
		*/
		#customers td:nth-of-type(1):before { content: "वोटर आई.डी."; }
		#customers td:nth-of-type(2):before { content: "तिथि समय"; }
		#customers td:nth-of-type(3):before { content: "कोड"; }
		#customers td:nth-of-type(4):before { content: "नाम"; }
		#customers td:nth-of-type(5):before { content: "राज्य"; }
		#customers td:nth-of-type(6):before { content: "जिला"; }
		#customers td:nth-of-type(7):before { content: "विधानसभा"; }


        Label the data issue-category
		*/
		#customers.issue-category td:nth-of-type(1):before { content: "वोटर आई.डी."; }
		#customers.issue-category td:nth-of-type(2):before { content: "तिथि समय"; }
		#customers.issue-category td:nth-of-type(3):before { content: "कोड-एस.एम.एस"; }
		#customers.issue-category td:nth-of-type(4):before { content: "नाम"; }
		#customers.issue-category td:nth-of-type(5):before { content: "राज्य"; }
		#customers.issue-category td:nth-of-type(6):before { content: "जिला"; }
		#customers.issue-category td:nth-of-type(7):before { content: "विधानसभा"; }
		
		
		
		/*
		Label the data showurl
		*/
		#customers.showurl td:nth-of-type(1):before { content: "वोटर आई.डी"; }
		#customers.showurl td:nth-of-type(2):before { content: "तिथि समय"; }
		#customers.showurl td:nth-of-type(3):before { content: "यू.आर.एल..कोड"; }
        #customers.showurl td:nth-of-type(4):before { content: "नाम"; }
		#customers.showurl td:nth-of-type(5):before { content: "राज्य"; }
		#customers.showurl td:nth-of-type(6):before { content: "जिला"; }
		#customers.showurl td:nth-of-type(7):before { content: "विधानसभा"; }



		
		/*
		Label the data  urlcount
		*/
		#customers.urlcount td:nth-of-type(1):before { content: "यू.आर.एल. आई.डी."; }
		#customers.urlcount td:nth-of-type(2):before { content: "यू.आर.एल. (पूरा दिखेगा यदि समर्थन संख्या >=25) "; }
		#customers.urlcount td:nth-of-type(3):before { content: "समर्थन संख्या कोड"; }
		#customers.urlcount td:nth-of-type(4):before { content: "पंजीकृत समर्थन संख्या"; }
		#customers.urlcount td:nth-of-type(5):before { content: "विरोध संख्या कोड"; }
		#customers.urlcount td:nth-of-type(6):before { content: "पंजीकृत विरोध संख्या"; }
		#customers.urlcount td:nth-of-type(7):before { content: "स्पैम नंबर कोड"; }
		#customers.urlcount td:nth-of-type(8):before { content: "स्पैम संख्या"; }
		#customers.urlcount td:nth-of-type(9):before { content: "अनस्पैम नंबर कोड"; }
		#customers.urlcount td:nth-of-type(10):before { content: "अनस्पैम नंबर संख्या"; }
		#customers.urlcount td:nth-of-type(11):before { content: "रद्द नंबर कोड"; }


		/*
		Label the data  urlcount_unregistered
		*/
		#customers.urlcount_unregistered td:nth-of-type(1):before { content: "यू.आर.एल. आई.डी"; }
		#customers.urlcount_unregistered td:nth-of-type(2):before { content: "यू.आर.एल. (पूरा दिखेगा यदि समर्थन संख्या >=25) "; }
		#customers.urlcount_unregistered td:nth-of-type(3):before { content: "समर्थन नंबर कोड"; }
		#customers.urlcount_unregistered td:nth-of-type(4):before { content: "अपंजीकृत समर्थन संख्या"; }
		#customers.urlcount_unregistered td:nth-of-type(5):before { content: "विरोध नंबर कोड"; }
		#customers.urlcount_unregistered td:nth-of-type(6):before { content: "अपंजीकृत विरोध संख्या"; }
		#customers.urlcount_unregistered td:nth-of-type(7):before { content: "रद्द नंबर कोड"; }
	


		/*
		Label the data  showurl_unregistered
		*/
		#customers.showurl_unregistered td:nth-of-type(1):before { content: "भेजने वाला"; }
		#customers.showurl_unregistered td:nth-of-type(2):before { content: "तिथि और समय"; }
		#customers.showurl_unregistered td:nth-of-type(3):before { content: "यू.आर.एल..कोड"; }

		
		/*
		Label the data  unregister_sms_opinion
		*/
		#customers.unregister_sms_opinion td:nth-of-type(1):before { content: "भेजने वाला"; }
		#customers.unregister_sms_opinion td:nth-of-type(2):before { content: "तिथि और समय"; }
		#customers.unregister_sms_opinion td:nth-of-type(3):before { content: "कोड-एस.एम.एस"; }

  /*
		Label the data  search.php
		*/
		#customers.table1  td:nth-of-type(1):before { content: "भेजने वाला"; }
		#customers.table1  td:nth-of-type(2):before { content: "तिथि समय"; }
		#customers.table1  td:nth-of-type(3):before { content: "मेसेज"; }
		
		
		#customers.table2  td:nth-of-type(1):before { content: "वोटर आई.डी."; }
		#customers.table2  td:nth-of-type(2):before { content: "भेजने वाला"; }
		#customers.table2  td:nth-of-type(3):before { content: "नाम"; }
		#customers.table2  td:nth-of-type(4):before { content: "राज्य"; }
		#customers.table2  td:nth-of-type(5):before { content: "जिला"; }
		#customers.table2  td:nth-of-type(6):before { content: "विधान सभा"; }
	

		#customers.table3  td:nth-of-type(1):before { content: "वोटर आई.डी."; }
		#customers.table3  td:nth-of-type(2):before { content: "भेजने वाला"; }
		#customers.table3  td:nth-of-type(3):before { content: "नाम"; }		
		#customers.table3  td:nth-of-type(4):before { content: "राज्य"; }
		#customers.table3  td:nth-of-type(5):before { content: "जिला"; }
		#customers.table3  td:nth-of-type(6):before { content: "विधान सभा"; }
		#customers.table3  td:nth-of-type(7):before { content: "पता"; }
		#customers.table3  td:nth-of-type(8):before { content: "जांचे वाले का नाम"; }
		
		
		/*
		Label the data  show_unregistered
		*/
		#customers.show_unregistered td:nth-of-type(1):before { content: "भेजने वाला"; }
		#customers.show_unregistered td:nth-of-type(2):before { content: "तिथि और समय"; }
		#customers.show_unregistered td:nth-of-type(3):before { content: "कोड-एस.एम.एस"; }

		/*
		Label the data  spamurl
		*/
		 
		#customers.spamurl td:nth-of-type(1):before { content: "यू.आर.एल. आई.डी"; }
		#customers.spamurl td:nth-of-type(2):before { content: "यू.आर.एल."; }
		#customers.spamurl td:nth-of-type(3):before { content: "निर्मित तिथि समय"; }
		#customers.spamurl td:nth-of-type(4):before { content: "यू.आर.एल. बनाने वाला"; }
		#customers.spamurl td:nth-of-type(5):before { content: "यू.आर.एल. बनाने वाला"; }
		#customers.spamurl td:nth-of-type(6):before { content: "स्पैम संखा"; }
		#customers.spamurl td:nth-of-type(7):before { content: "अनस्पैम संख्या"; }
		#customers.spamurl td:nth-of-type(8):before { content: "एडमिन कमेन्ट"; }

 /*
  Label the data  spamurl
  */
  #customers.sccode  td:nth-of-type(1):before { content: "राज्य नाम"; }
		#customers.sccode  td:nth-of-type(2):before { content: "जिला"; }
		#customers.sccode  td:nth-of-type(3):before { content: "विधानसभा क्षेत्र"; }
		#customers.sccode  td:nth-of-type(4):before { content: "5 अंक विधानसभा कोड"; }
		#customers.sccode  td:nth-of-type(5):before { content: "लोकसभा सीट"; }
	
	}	/***** End MAX 750 ***/
        
@media (max-width: 600px) {

.login_panel.login_panel_urlcount {
                  top: 215px;
               }
               .login_panel.login_panel_showcodes {
  top: 195px;
}
        .login_panel.login_panel_show_unregistered {
  top: 201px;
}
	body{
		background-color:#fff; 
	}


	#customers.urlcount_unregistered td, #customers.urlcount td{
		min-height: 40px; line-height: 1.2em
	}

}/***** End MAX 600 ***/

@media (max-width: 480px) {
     div.header h1 {
        font-size: 24px;
        line-height: 34px;
        }
     .login_panel.login_panel_urlcount {
         top: 235px;
           }
     .login_panel.login_panel_showcodes {
        top: 175px;
        }
.login_panel.login_panel_show_unregistered {
  top: 181px;
     }
#customers.showcodes td {
  padding-left: 45%;
    }
}/***** End MAX 480 ***/

/****************************** Showissue Main START ************************/

/** search-category **/
form.selectissue {       
  margin-top: 15px;
  margin-bottom: -5px;
}
select#category {
  font-size: 16px;
}
input.submitissue {
  font-size: 14.25px;
}
input.reset {
  font-size: 14px;
}
/** End search-category **/

div.login_panel_regissue {
  position: absolute;
  left: 0%;
  width: 96%;
  top: 180px;
  padding: 1% 1% 1% 1.5%
}
.registerissue {
  margin-bottom: 265px;
}
a.home-internal-top {
    margin-left: 5px;
}
h1.regissue-heading {
  margin-left: -5px;
  line-height: 45px;
  font-size: 30px;
}
.regissue {
  font-size: 17px;
  margin-left: 10px;
  line-height: 29px;
}

p.regissue-info {
  margin-left: 5px;
  font-size: 17px;
  line-height: 22px;
}
a.skip2 {
    content: "";
    display: block;
    height: 0px;
    margin: -20px 0 0;
}

.regissue-data {
  margin-left: 10px;
  font-size:18px;
  width: 94%;
}
h3.reg-paging {
  font-size: 18px;
  clear:both;
  margin: 42px 0px 22px 0px;
}
.reg-title {
  margin: 14px 0px 12px 0px;
  font-size: 24px;
  clear: both;
}
.reg-codes {
  margin-bottom: 12px;
  font-size: 19px;
  white-space: nowrap;
}
.reg-supportcode {
  margin-bottom: 7px;
}
.alpha-support {
  float: left;
  width: 48%;
}
.num-support {
  text-align: right;
}
.reg-opposecode {
  clear: both;
}
.alpha-oppose {
  float: left;
  width: 47.5%;
}
.num-oppose {
  text-align: right;
}
.reg-desc {
  margin-bottom: 15px;
  line-height: 30px;
  clear: both;
  margin-top: 15px;
}
.reg-detail {
  margin-bottom: 17px;
  float: none;
  width: 95%;
}
.reg-detail.search-detail {
  margin-bottom: 50px;
}
.issue-link {
  width: 48%;
  float: left;
}
.reg-category {
  text-align: right;
}
.reg-supportcount {
  margin-bottom: 14px;
  margin-top: 20px;
  width: 95%;
}
.alpha-support2 {
  float: left;
  width: 65%;
}
.reg-supportnum {
  text-align: right;
}
.reg-opposecount {
  clear: both;
  margin-bottom: 4px;
  width: 95%;
}
.alpha-oppose2 {
  float: left;
  width: 65%;
}
.reg-opposenum {
  text-align: right;
}
font.alpha-support3, font.alpha-oppose3, font.alpha-support4, 
font.alpha-oppose4 {
  white-space: nowrap;
  font-size: 19px;
}
font.alpha-oppose3, font.alpha-oppose4 {
  margin-left: 9px;
}
hr.divider2 {
  float: left;
}
.back {
  text-align: right;
  float: right;
  font-size: 18px;
  padding-top: 20px;
  position: relative;
  bottom: 35px;
}
/**=================footer start===============***/ 
.footer  {
    background-color: #464646;
    padding: 20px 15px 20px 17px;
    color: #fff;
    border-top: 8px solid #bfbfbf;
	border-bottom: 8px solid #bfbfbf;
	float: left;
        position: absolute;
    left: 0%;
    bottom: 0%;
    width: 97%;
}
.footer-social{
   width:100%;
   float:left;
}
.footer-text{
   width:100%;
   float:left;
}
a#licence1:link,         
a#licence1:visited,
a#licence2:link,         
a#licence2:visited{
  color:#f9ef04;
  }
  a#licence1:hover,       
  a#licence1:active,
  a#licence2:hover,       
  a#licence2:active{
  color: brown;
  }
 a#reference1:link,         
a#reference1:visited,
a#reference2:link,         
a#reference2:visited{
text-decoration: none;
  color: #FFFFFF;
  }
  a#reference1:hover,       
  a#reference1:active,
  a#reference2:hover,       
  a#reference2:active{
  color: #9a9a9a;
  }
.mobile-display-block{
display:none;
}
.mobile-view-display  {
display:none;
}
.head-down{
pointer-events:none;
   cursor: default;
}
/**=================footer end===============***/ 

/****************************** Showissue Main END ************************/

/****************************** Showissue 738-790 START ************************/

@media screen and (max-width: 790px) and (min-width: 738px) {

.registerissue {
    margin-bottom: 370px;
    margin-top: 7px;
}
}/****************************** Showissue 738-790 END ************************/

/****************************** Showissue MAX 766 START ************************/
@media screen and (max-width: 766px){

/** search-category MAX 766 **/
select#category {         
    margin-bottom: 5px;
    font-size: 18px;
}
.default {
    font-size: 19px;
    line-height: 32px;
    margin-bottom: -10px;
}
input.submitissue {
  font-size: 16.5px;
}
input.reset {
  font-size: 15.5px;
}
/** End search-category MAX 766 **/

.header {
    height: auto !important;
    margin: auto 0;
}
.skip {
    margin-left: 5px;
}

.registerissue {
  margin-bottom: 35px; 
  margin-top: -25px;
}
p.reg-info {
  font-size: 19px;
  margin-bottom: 0px;
  line-height:35px;
}

h3.reg-paging {
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 40px;
}
h3.reg-paging a {
    padding: 0px 10px 0px 16px !important;
    white-space:nowrap;
}
.reg-title {
  line-height: 35px;
}
.regissue-data {
  font-size: 20px;
}
.reg-codes {
  margin-bottom: 30px;
  white-space: normal;
  font-size: 19px;
}
.reg-supportcode {
  margin-bottom: 21px;
}
.alpha-support, .alpha-oppose {
  float: none;
  margin-bottom: 5px;
  line-height: 32px;
}
font.alpha-support3, font.alpha-support4, font.alpha-oppose3, font.alpha-oppose4 {
  white-space: nowrap;
}
font.alpha-oppose3, font.alpha-oppose4 {
  margin-left: 0px;
}
.num-support {
  text-align: left;
}
.num-oppose {
 text-align: left;
}
.reg-desc {
  line-height:34px;
}
.issue-link {
  width: 90.5%;
  float: none;
  margin-bottom: 5px;
}
.reg-category {
  text-align: left;
}
.alpha-support2, .alpha-oppose2 {
  float: none;
  width: 95%;
  margin-bottom: 5px;
  line-height: 32px;
}
.reg-supportnum {
  text-align: left;
}
.reg-opposecount {
  margin-bottom: 5px;
}
.reg-opposenum {
  text-align: left;
}
.divider2 {
  width: 90%;
}
.back {
    text-align: right;
    float: right;
    font-size: 18px;
    padding-top: 25px;
    position: relative;
    bottom: 30px;
}

/*** Footer MAX 766 ***/

.footer{
display:none;
}
.mobile-view-display  {
    background-color: #464646;
    padding: 20px 0px;
    color: #fff;
	display:block;
    border-top: 8px solid #bfbfbf;
	border-bottom: 8px solid #bfbfbf;
	float: left;
	width:100%;
}
ul.mobile-footer {
    padding: 10px;
	list-style:none;
}
.mobile-footer li {
    width: 33%;
    float: left;
    text-align: center;
}
/********** Mobile Footer MAX 766 **********************/

a.footer-mobile-text:link,      
a.footer-mobile-text:visited {
text-decoration: none;
  color: #FFFFFF;
  }
  a.footer-mobile-text:hover,    
  a.footer-mobile-text:active {
  color: #9a9a9a;
  }
  /*********Mobile Footer end***************/
}/****************************** Showissue MAX 766 END ************************/


/****************************** Showissue 242-566 START ************************/

@media screen and (max-width: 566px) and (min-width: 242px){
/** search-category 242-566 **/
select#category {
    width: 55%;
}
h3.search-results {
    font-size: 20px;
    margin-top: 0px;
    line-height: 35px;
}
.default {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: -10px;
}
/** End search-category 242-566 **/

h1.regissue-heading {
  font-size: 25px;
  margin-left:2px;
}
a.skip2 {
    content: "";
    display: block;
    height: 0px;
    margin: -30px 0 0;
}
.registerissue {
  padding-right: 5px;
    margin-top: -40px;
  font-size: 17px;
}
.regissue {
  font-size: 18px;
    line-height: 32px;
}
.reg-codes {
 font-size: 19px;
}
.regissue-data {
  margin-left: 15px;
  width: 95%;
}
.reg-title {
  margin: 14px 0px 12px 0px;
  font-size: 24px;
  line-height: 41px;
}
.alpha-support, .alpha-oppose {
  line-height: 35px;
}
.reg-desc {
  word-break: break-word;
  text-align: justify;
 line-height: 33px;
}
.issue-link {
  width: 100%;
}
font.alpha-support3, font.alpha-support4, font.alpha-oppose3, font.alpha-oppose4 {
   font-size: 19px;
}

/*** Footer 242-566 ***/

.footer{
display:none;
}
.mobile-view-display  {
    padding: 15px 0px 27px 0px;
	display:block;
}
ul.mobile-footer {
      padding: 0px 10px 10px 31px;
	list-style:none;
}
.mobile-footer li {
    width: 29%;
    float: left;
    text-align: center;
    padding-right: 9px;
}
li.mobile-footer {
  padding-right: 19px;
}

}/****************************** Showissue 242-566 END ************************/

@media screen and (max-width: 320px) and (min-width: 242px){

.header h1 {
    font-size: 23px !important;
    line-height: 34px;
}
.regissue-data {
  width: 90%;
}
font.alpha-support3, font.alpha-support4, font.alpha-oppose3, font.alpha-oppose4 {
    font-size: 16px;
}
.mobile-footer li {
   padding-right: 37px;
}
}/****************************** Showissue 242-320 END ************************/

/****** Profile.php ***/

h2.profile-h {
  margin-top: -19px;
}
.profile div.profilein {
    width: 48%;
    float: left;
	 margin-right: 18px;
	 margin-bottom: 18px;
         line-height: 25px;
}
div#profilein1, div#profilein2 {
  margin-bottom: 10px;
}
.mobile-text {
  font-size: 17px;
}
.profile div.profilein  input
{
    float: left;
    width: 73%;
       padding: 14px 0px 14px 8px;
    margin: 0px 0px 0px 12px;
	}
.profile div.profilein  span{
       float: left;
	   width:24%;
	   margin-top: 5px;
}	
#form1{margin:0 auto;
   width:90%;
}
.upload{
       width: 80%;
}
.by-click{
 width: 100%;
}
.submit-form{
       float: left;
    width: 100%;
    text-align: center;
     margin: 10px auto;
}
.submit-form input{
        width: 17%;
}
@media screen and (max-width: 766px){
h2.profile-h {
  margin-top: -45px;
}
p.compulsory {
  font-size: 17px;
}
.mobile-text, .profile div.profilein span {
   
    width: 100%;
    font-size:18px;
}
.mobile-text, .profile div.profilein span {
   
    width: 100%;
    font-size:18px;
}
.upload, .alternate {
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 1px;
}
input#fakeBrowse {
  font-size: 17px;
  margin-top: 10px
}
li.profile-doc1 {
  margin-bottom: 10px;
}
.by-click{
font-size:19px;
 line-height: 33px;
 letter-spacing: .75px
 }
 input#checkbox {
  width: 18px;
  height: 18px;
}
 .submit-form input {
  width: 33%;
  font-size: 18px;
}
}
@media (min-width:240px) and (max-width:565px){ 

h2.profile-h {
  margin-top: -35px;
}
p.compulsory {
  font-size: 18px;
  letter-spacing: 1px;
}
.profile-inner{ 
         float: left;
    width: 100%;
}
.mobile-text, .profile div.profilein span {
   
    width: 100%;
    font-size: 19px;
    letter-spacing: 1px;
}
.profile div.profilein {
    
    width: 42%;
}
.profile div.profilein input {
    margin: 0;
    width: 84%;
}
.upload, .alternate {
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 1px;
}
input#fakeBrowse {
  font-size: 18px;
}
ol.profile-docs {
  width: 100%;
}
.by-click{
font-size:20px;
 line-height: 35px;
 letter-spacing: 1px
 }
 input#checkbox {
  width: 18px;
  height: 18px;
}
 .submit-form input {
  width: 37%;
  font-size: 19px;
}
}

@media (min-width:566px) and (max-width:1025px){ 
.profile-inner{ 
         float: left;
    width: 100%;
}
.profile div.profilein span {
   
    width: 100%;
}
.profile div.profilein {
    
    width: 43%;
}
.profile div.profilein input {
    margin: 0;
    width: 84%;
}
}
/****** Profile.php end***/

/****** PUBLIC SMS ORDER start***/

.home-internal-top-location {
  margin-left: 3px;
  word-spacing: 3px;
}
h2.location-h {
  font-size: 27px;
  margin: 5px;
}
.location-a {
  font-size: 18px;
  line-height: 33px;
}
p.location-p {
  font-size: 18px;
  line-height: 35px;
  color:brown;
  margin-bottom: 0px;
  margin-left: 3px;
}
select#All_subject_issue_dropdown {
  width: 90%;
}

select#state,  select#All_Districts_dropdown, select#All_Districts_dropdown, 
select#All_Assemblies_dropdown, select#All_Categories_dropdown, select#All_subject_issue_dropdown {
  font-size: 17px;
  margin-bottom: 15px;
}
input.submit-location {
  margin-right: 15px;
  font-size: 15px;
}
input.search-voterid {
  margin-bottom: 5px;
  font-size: 16px;
}
a.back-issue {
  font-size: 17px;
  line-height: 32px;
}
/****** PUBLIC SMS ORDER end***/

/****** PUBLIC SMS ORDER 242-566 start***/

@media screen and (max-width: 566px) and (min-width: 242px) {

select#state,  select#All_Districts_dropdown, select#All_Districts_dropdown, 
select#All_Assemblies_dropdown, select#All_Categories_dropdown, select#All_subject_issue_dropdown {
  font-size: 19px;
  margin-bottom: 15px;
}
input.submit-location {
  font-size: 16px;
}
input.search-voterid {
  margin-bottom: 10px;
  width: 90%;
}
}
/****** PUBLIC SMS ORDER 242-566 end***/