body {
font-family: Mangal;
}﻿
/***** TAGLINE *****/
#nav1
{
left:1%;
text-align:right;
}
/*** MENU ***/
ul.nav_bar
{
list-style-type:none;
margin:0%;
padding:5px 0 0 0;        
width: 65%
}
a.nav_bar
{
text-align:center;
padding:0.6%;
text-decoration:none;
font-family:verdana;
font-size:15px;      
}
/***** SIDE BAR *****/
ul.side_bar
{
list-style-type:none;
margin:0%;
padding:0%;
clear: both;
}
/**** SIDE BAR LINKS ****/

a.side_bar
{
text-decoration:none;
font-family:verdana;
display:block;
padding-top:1%;
padding-bottom:1%;
padding-left:1%;
line-height: 1.5em;
}

/*********************** Created by Developer Ravi*****************/

body{
   margin:0px;
    background: #f6f2eb;
    width: 100%;
    float: left;
}
/*****----------------Header start----------*****/   

/******Responsive Menu******/
.responsive-menu {
display:none;
}

/********* HEADER *****************/
div.navigation{
   background: linear-gradient(#c38f4d,#d0a875,#c28e4c);
   height:auto;
   width: 100%;
   padding-left: 0;
   position:unset;
   float: left;
   background: -webkit-linear-gradient(#c38f4d,#d0a875,#c28e4c);
	background: -o-linear-gradient(#c38f4d,#d0a875,#c28e4c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#c38f4d,#d0a875,#c28e4c); 
}
#nav1{
   background:none; 
   float:left;
   width:82%;
   margin-top:0px;
   line-height:32px; 
   text-align: right; 
}
.language-change{
   width: 100%;	
   float:right;
   margin: 6px 0px 6px 0px;
   text-align: right;
}

.language-change span{
font-size:16px;        
color: #000;
font-weight:bold;
}

.language-change span.hindi-lang{
border-right: 2px solid #000;
padding-right:2%;
margin-right:2%;
pointer-events:none;
}
.language-change .hindi-lang a {
    color: #000;
    text-decoration: none;
}

/***** ENGLISH TAGLINES *****/

div#nav2 {
background:none; 
   float:right;
   width:80%;
   margin-bottom:7px;
   left:1%;
   text-align:right;
}

.header-wrapper{
    margin: 0 auto;
    width: 90%;
}

/***** LOGO *****/

.logosms{
    width: 18%;
    float: left;
	padding: 26px 0px 0px 0px;
}
.header-wrapper .logosms img {
    width: auto;
    position: relative; 
    top: 27px;           
    left: 17px;          
}

/***** NAVIGATION MENU *****/

.main-navi{
    float: left;
    width: 100%;
    background-color: #fff;
    color: #eaa56e; 
}
/***** HINDI TAGLINE BIG *****/

h1.main1-hindi{
left:5%;
font-family:verdana;
color:#ECE5DD;
margin: 0px;
letter-spacing: 1px;
font-weight: normal;
font-size: 26px;
}
/***** ENGLISH TAGLINE BIG *****/

h1.main1-english{
left:5%;
font-family:verdana;
font-size:20px;
color:#ECE5DD;
margin: 0px;
font-weight: bold;
}
/***** HINDI TAGLINE SMALL *****/

h3.main-hindi{
font-weight: normal;
font-size: 20px;
margin-top: 0em;
color: #251B62;
}
/***** ENGLISH TAGLINE SMALL *****/

h2.main-english{
left:1%;
font-family:verdana;
font-size:16px;
color: #251B62;
margin-top: 7px;
}
/***** NAVIGATION MENU LINKS *****/

.main-navi ul{
   width:67%;
   float:left;
}
/***** ONLINE REGISTER FORM *****/

.online-reg  { float: right;
    width: 33%;
    text-align: center;
    font-size:20px;
	padding: 4px 0px 4px 0px; 
	}
.online-reg a{
	font-size: 19px;  
	font-weight:bold;
}	
.online-reg a:hover {  
    color: #158215;
}
/***** NAVIGATION MENU LINKS *****/

.main-navi ul li a{
   color: #DD823A;
}
  
.main-navi ul li.nav_bar:hover a {
    color: #0e00fb;
    padding-bottom: 4px;
    border-bottom: 2px solid #B8B8B8;
}   
.main-navi ul li.active a {
    border-bottom: 2px solid #B8B8B8;
	padding-bottom:4px;
}
  .main-navi ul li.nav_bar {
    display: inline;
    padding: 0px 1% 0px 0.5%;
}
.main-navi ul li.nav_bar:first-child {
    padding-left: 20px;
}
/*****----------------Header end----------*****/  
/******************** MAIN CONTENT  ***********************/

/*** Left Bar ***/

.sidebar2 {
  position: unset;
  padding: 0px;
  background: -webkit-linear-gradient(#F1F2E4 , #F1F2E4, #ffffff);
  background: -o-linear-gradient(#F1F2E4 , #F1F2E4,#ffffff);
  background: -moz-linear-gradient(#F1F2E4 , #F1F2E4,#ffffff);
}

div.left_bar, .sms-procedure {
    position: unset;
    float: left;
	padding:0px;
	width: 65%;
     background: -webkit-linear-gradient(#F1F2E4 , #F9F9F3,#ffffff);
  background: -o-linear-gradient(#F1F2E4 , #F9F9F3,#ffffff);
  background: -moz-linear-gradient(#F1F2E4 , #F9F9F3,#ffffff);
}
.activation-step.activation-mobile-step {
  background: -webkit-linear-gradient(#F1F2E4 , #F9F9F3, #F9F9F3);
  background: -o-linear-gradient(#F1F2E4 , #F9F9F3,#F9F9F3);
  background: -moz-linear-gradient(#F1F2E4 , #F9F9F3,#F9F9F3);
}
div.sidebar{
    padding:0px;
    float: left;
    width: 100%;
     background:linear-gradient(#F2F2E4 , #ffffff,#ffffff);
	background: -webkit-linear-gradient(#F1F2E4 , #ffffff,#ffffff);
	background: -o-linear-gradient(#F1F2E4 , #ffffff,#ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F1F2E4 , #ffffff,#ffffff); 
}
input#header1, input#header2, input#header3, input#header4, input#_5, input#_6, input#_7, input#_8, input#_9, input#sidebartoggler, input#_1, input#_2, input#_3, input#_4 {
    display: none;
}
/*** Sub Menu **/
.steps{
    padding: 0px 0px 0px 0;
    background-color: #F1F2E4;
    float: left;
    width: 95%;   
	color:#000; 
}
.steps p{
    padding-left: 35px;
    font-size: 25px;
    margin: 0px;
    font-style: italic;
    padding: 11px 0px 0px 19px;
}
.steps p span.see-more{
    font-size: 18px;       
    padding-right: 5px;  
    word-spacing:  5px;    
}
span.steps-3-heading {
    pointer-events: none;
}  
.step-header .steps p b {
 border-bottom: 3px solid;
}
.steps p span.see-more a{
    color:blue;
}

.blue{
    color:#0e00fb;
}
.activation-step{
    width: 100%;
    float: left; 
}
.act-step h2 {
    font-size: 25px;
}
.step-text{
    width: 100%;
    font-weight: bold;
	padding-bottom: 10px;
    font-size: 19px;
}
ol.act-step-ol {
    padding-left: 4px;
    width:100%;
	float:left;
	font-size: 19px;  
        margin-bottom:7px; 
    margin-top: 0px;
}

ol.act-step-ol li{
   width:93%;        
   float:left;
   padding:7px 0px;   
   list-style-type: decimal;
   word-spacing: 4px; 
   line-height: 33px;      
}
.Code-SMS {
    float: left;
    width: auto;       
    margin: 0px 0px 10px 0px;
    padding-left: 27px;  
    	background: -webkit-linear-gradient(#F9F9F3, #F9F9F3, #ffffff);
  background: -o-linear-gradient(#F9F9F3 , #F9F9F3,#ffffff);
  background: -moz-linear-gradient(#F9F9F3 , #F9F9F3,#ffffff);
}
span.unibull {           
    padding-right: 5px;
    float: left;
    width: 10px;
    position: relative;
    top: 6.15px;
}
.Code-SMS h3{
   float:left;
   margin:0px;
   font-size: 21px;
   width: 92%;     
  padding-left: 7px;   
}

.Code-SMS li {     
  width: 100%;
  float: left;
}

.Code-SMS p{
    float: left;
    margin: 0px 0px 16px 0px;
    text-align: left;
    font-size: 19px;
    width: 93%;         
    padding-left: 6px; 
    line-height: 32px; 
}
span.voice {
    font-weight: bold;
	font-size: 21px; 
}
.act-step{
    float: left;
    padding: 0% 2% 0% 7%;
}
.act-step2{
    float: left;
    padding: 0% 2% 0% 7%;
}

/*Search by mobile number panel*/

.mobile-form{
   width: 100%;
    float: left;
    background: #f9fbdf;
    padding-top: 0px;
    padding-bottom: 1%;

}
.searchform{
   width:100%;
   float:left;
}
.searchform h3{
   font-weight:normal;
   font-size: 21px;     
   margin-bottom: 20px;  
   margin-left:-5px;   
}
.act-step-form {
    padding-right: 0px;
    padding-left: 3%;
    width: 95%;       
}
span.search {
    width: 57%;
    float: left;
    font-size: 17px;
    padding-right: 1%;
	text-align: left;
}
.searchinput{
   width:42%;
    float: left;
}
.searchinput input{
    height: 36px;
    background-color: transparent;
    border: 1px solid #69b3f8;
    margin-bottom: 10px;
	width:100% !important;
	padding:0px;
	font-size:18px;
	display: inline-block;
}
.searchinput input {
    outline-offset: 0px !important;
}
.searchinput-btn {
    width: 100%;
    float: left;
    text-align: center !important;
}
.searchinput-btn input {
    background-color: #e1e1e1;
    border: none;
    height: 30px;
    width: 32% !important;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
}
.version{
    width:100%;
	float:left;
}
.version p.for-mobile {  
   width:54%;
   float:left;
}
.version p.for-english{  
   width:44%;
   float:left;
   text-align:right;
}
.version p a{
  color:#2e61c0;
  border-bottom:1px solid #b7b7b7;
  text-decoration: none;
    padding-bottom: 9px;
}
.version p a.mobile-click {
  font-size: 16px;
}
.version p.for-mobile{
   border-right:1px solid #b7b7b7;
}
/** Text Contents **/
.text-content{
   width:100%;
   float:left;
   background:#f2f2e4;
}
.text-content .act-step .inner-content{
   width:100%;
   float:left;
}
.text-content h3{
  text-align:center;
  color:#454342;
  text-decoration:underline;
  font-size:24px;
   width:100%;
   text-transform:uppercase;
   margin-bottom: 0px;
   pointer-events: none;
}

#text-contents-list.act-step {   /*Text Contents List */
  float: left;
  padding: 0% 2% 0% 2%;
  width: 94%;              
}
.text-content .act-step .inner-content ol li { /*Individual list of Text Contents point B*/
    width: 96%;                                  
    float: left;
    color: #2e61c0;
    font-size: 21px;
    /*text-decoration: underline;*/
    padding-bottom: 19px;
    line-height: 35px;      
}
li.li-main {
  list-style: none;
  text-indent: -35px;
}
span.upper-alpha {
  padding-right: 6px;
  position: relative;
  top: 2.5px;
}
span.underline1 {
  text-decoration: underline;
}
.text-content .act-step .inner-content ol li a{
    color: #2e61c0;
}
.inner-text {
    width: 100%;           
    float: left;
    margin-left: -7px;
}
.inner-text li {                       
    text-decoration: none !Important;
    color: #000 !important;
}
#text-contents-details1.inner-text, #text-contents-details2.inner-text, 
#text-contents-details3.inner-text, #text-contents-details4.inner-text { 
  width: 95%;
  float: left;
  padding-right: 2%;
}

h3#aim-h {                
    margin-left:-10px;
}

.inner-text p#aim1, .inner-text p#aim2, .inner-text p#aim3, .inner-text p#aim4 {       
    margin-left: -10px;
}
.inner-text p {
    font-size: 21px; 
    line-height: 39px; 
    width:98%;         
    margin: 9px 0px 9px -11px;                   
    float: left;
}

li#procedure-step1, li#procedure-step2, 
li#procedure-step3, li#procedure-step4 {  
  margin-left: -37px;
}
li#procedure-step-detail1, li#procedure-step-detail2,
li#procedure-step-detail3, li#procedure-step-detail4 {  
  margin-left: -45px;
}
a.word-wrap {    
  word-wrap: break-word;
}

li#postpaid-mobile-user {       
  margin-left: -61px;
}
ol.postpaid-docs {                 
  margin-left: -2.3em;
}
li.postpaid-voterid-mobile {   
  margin-left: -37px;
}
li#prepaid-mobile-user {    
  margin-left: -61px;
}
p.after-activation {
    margin-left: -52px;
    margin-top: 0px;
    margin-bottom: 16px;
}
p.video-request {
    margin-top: 15px;
    margin-left: -2px;
}
p.video-request-or {
    margin-top: 4px;
    margin-bottom: -4px;
    margin-left: -2px;
}
ol.prepaid-docs {                 
  margin-left: -2.3em;
}
li.prepaid-voterid-mobile {   
  margin-left: -37px;
}

p.verify {                             
  margin-left: -38px;
}
.arrow-less{               
     cursor:pointer; 
     width: 100%;
     float: right;
     text-align: right;
     font-size: 20px;
     font-weight: bold;
     color: #F26C2F;
     position: relative; 
     bottom: 16px;  
	 }
.back{
    text-align: right;
    float: right;
    font-size: 17px;
    padding-top:20px; 
    padding-right:5px; 
    position: relative; 
    bottom: 11px;  
}

/********************Main content end ***********************/

/*******************Sidebar******************/    
 div.side_bar{ 
   float:right;
   right:0%;
   background: linear-gradient(#f3ebe2,#ffffff,#f6f2eb);
   background: -webkit-linear-gradient(#f3ebe2,#ffffff,#f6f2eb);
   background: -o-linear-gradient(#f3ebe2,#ffffff,#f6f2eb); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(#f3ebe2,#ffffff,#f6f2eb); 
   width: 35%;
   padding-left: 0;
} 

.heading-arrow-less{  
  display:none;
}
.head-down{
pointer-events:none;
   cursor: default;
}
ul li.side_bar {
    list-style-type: circle;
	}
ul li.social-icons {
    display: inline-block;
    padding-left: 0px;
    margin-left: 0px;
}	
ul.side_bar li.facebook{
  margin-left: 7.5%;
}
 ul#respons-text1,  ul#respons-text2, ul#respons-text3, ul#respons-text4, ul#respons-text5 {
  padding-left: 6%;
}
a.side_bar:visited {
    color: black;
}
.side_bar h2.heading{
   background:none;
   color:#f26c2f;
   text-decoration:underline;
   text-align: left;
    padding-left: 7%;
	margin: 12px 0px 4px 0px;
}
a.side_bar:link, a.side_bar:visited{ 
  font-weight:normal;
  color:#000;
  font-size:17px; 
}
a.side_bar:hover { 
    color: #158215;
    font-size:17px; 
}
a.side_bar.orange:hover {
  color: #F26C2F !important;
}

/**=================Sidebar end===============***/  

/**=================footer start===============***/ 
.footer  {
    background-color: #464646;
    padding: 20px;
    color: #fff;
    border-top: 8px solid #bfbfbf;
	border-bottom: 8px solid #bfbfbf;
	float: left;
}
.footer-text{
   width:100%;
   float:left;
}

a#licence1:link,         
a#licence1:visited,
a#licence2:link,         
a#licence2:visited{
  color:#f9ef04;
  }
  a#licence1:hover,       
  a#licence1:active,
  a#licence2:hover,       
  a#licence2:active{
  color: brown;
  }
 a#reference1:link,        
a#reference1:visited,
a#reference2:link,        
a#reference2:visited{
text-decoration: none;
  color: #FFFFFF;
  }
  a#reference1:hover,      
  a#reference1:active,
  a#reference2:hover,      
  a#reference2:active{
  color: #9a9a9a;
  }

.mobile-view-display  {  /** hides mobile footer **/
display:none;
}
/**********Mobile Footer**********************/

a.footer-mobile-text {   
  word-spacing: 2px;
}
a.footer-mobile-text:link,      
a.footer-mobile-text:visited {
text-decoration: none;
  color: #FFFFFF;
  }
  a.footer-mobile-text:hover,    
  a.footer-mobile-text:active {
  color: #9a9a9a;
  }
  /*********Mobile Footer end***************/
/**=================footer end===============***/ 

/*****************Responsive***CSS********************/

/**************@media (max-width: 766px)*****************/
@media screen and (max-width: 766px){

/***************Responsive**Menu MAX 766 **************/
div.navigation {
   height: auto;
}
.main-navi {
   width: 97%; 
}
#nav1 {
    margin-top: 12px;
}
.logosms{
    display:none;
}

/** Menu MAX 766 **/

ul.respons-menu {
    width: 100%;
    padding-left: 0px;
    text-align: center;
    background-color: #e0e0e0;
	 height: auto;
    width: 100%;
	padding-top: 0px;
}
.respons-menu li.nav_bar {
    float: left;
    position: relative;
    width: 100%;
    border-bottom: 2px solid #000;
   padding:2px 0px !important; 
   font-size: 35px;
}
.responsive-menu {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10% 100%;
    display: block !important;
    height: 24px;
    text-align: center;
    padding: 1px 0px;
    background: linear-gradient(#000000,#ffffff,#000000,#ffffff, #000000);
    width: 10%;
    margin: 2px auto 7px auto;
}
span.responsive-menu:before {
  content: "मीनू";
  position: relative;
  right: 53px;
  top: 0px;
  font-size: 17px;
}
a.nav_bar {        
  font-size: 18px;
}
.online-reg {
     padding: 7px 0px 7px 0px;
}
.main-navi {
    width: 100% !Important;
    padding-left: 0px;
	float: left;
}
/** Sub Menu Max 766**/
span.steps-3-heading {
    pointer-events: auto;
	cursor: pointer;
	margin-left: 20px;
     word-spacing: 4px;
}
.steps {
    float: left;
    width: 100%;          
	background-color: #158215;
	color: #fff;
        padding: 0px;
}

span.see-more {
  display: none;
}
.see-more2 {
   margin: 3px 0px -7px 0px;
}
.see-more2:after {
  font-size:17px;
  content: "(टैप करके खोलें)";
}
div.left_bar, .sms-procedure {
    display:block;
    width: 100%;
}
ol.act-step-ol li {
   font-size: 21px;
   line-height: 35px;
}
.Code-SMS{
    width: 95%;  
    padding-left: 5px;  
}
.Code-SMS p {
    line-height: 33px;
}
span.unibull.unibull1 {
    position: relative;
  top: 5px;
}
span.unibull.unibull2 {
    position: relative;
  top: 6px;
}
span.unibull.unibull3 {
    position: relative;
  top: 6px;
}
/***************side_bar MAX 766 ***************/

.mobile-links{
    display:block !important;
    width: 100%;
    background: #704002;
	float:left;
}

h2.important-links { 
    padding: 0px 0px 10px 28px;
    background-color: #704002; 
    text-align: left;
    padding-left: 25px;
	color:#fff;
	cursor:pointer;
	width:auto; 
     margin: 12px;
}
span.aim-collapse2 { 
    font-size: 17px;
    color: #fff;
    word-spacing: 3px;
    letter-spacing: 2.5px;
}
div.side_bar {
    width: 100%;
    padding-bottom: 20px;
}
ul.side_bar {
    width: 95%;
    float: left;
    margin-top: 2.5%;
}
.side_bar h2.heading {
       margin: 7px 0px 0px 35px;
       padding-bottom: 0px;
}
.mobile-share-hide {    /*hides Share menu in mobile */
  display: none;
}
ul li.side_bar {
    margin-left: 5%;
    width: 92%;
    float: left;
    margin-bottom: 15px;
}
.act-step.act-step-320 {
  width: 85%;
}
.head-down{
    pointer-events: auto;
    cursor: default;
}
ul li.social-icons {
    width: auto !Important;
}
/****** left bar MAX 766 *********/

.searchform h3{
   font-size: 19px;
   line-height: 29px;
   word-spacing: 4px;    
}
span.search {
    word-spacing:3px;
}
.text-content h3{
 pointer-events: auto;
    cursor: default;
}
div#text-contents-details3, div#text-contents-details4 {
  margin-left: -15px;
  width: 103% !important;
}
.inner-text p {
  margin-left: -50px;
}
p.procedure2 {
  width: 118% !important;
  margin-left: -50px;
  clear:both;
}
li#procedure-step-detail1, li#procedure-step-detail2, li#procedure-step-detail3, li#procedure-step-detail4 {
  margin-left: -40px !important;
  width: 115% !important;
}
li#postpaid-mobile-user, ol.postpaid-docs, li#prepaid-mobile-user, ol.prepaid-docs {
  width: 110% !important;
}
.heading-arrow-less{ /******** Less link ******/
   cursor: pointer;
    width: 100%;
    float: right;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    color: #F26C2F;
	display:block;
    bottom: 0px;
   padding: 4px 15px 2px 0px;
}
/*** Footer MAX 766 ***/ 
.footer{
display:none;
}
.mobile-view-display  {
    background-color: #464646;
    padding: 20px 0px;
    color: #fff;
	display:block;
    border-top: 8px solid #bfbfbf;
	border-bottom: 8px solid #bfbfbf;
	float: left;
	width:100%;
}
ul.mobile-footer {
    padding: 10px;
	list-style:none;
}
.mobile-footer li {
    width: 33%;
    float: left;
    text-align: center;
}

}/******End MAX 766 *******/

/************ START 240px-566px *****/

@media screen and (min-width: 240px) and (max-width: 566px){
div.navigation {
    width: 100%;
    background-color: #CFA671; 
}
.logosms {
    display: none;
}
#nav1 {
    width: 99%;
}
h1.main1-hindi {
    font-size: 24px;
}
h3.main-hindi {
    font-size: 18px;
    word-spacing: 1px
    width: 100%;
    float: right;
}
div#nav2 {
    display: none;     
}
h1.main1-english {
    font-size: 17px;
}
h2.main-english  {
    font-size: 16px;
    padding-right: 1%;
	    width: 80%;
    float: right;
}
span.responsive-menu:before {
   font-size : 18px;
   letter-spacing: 1px;
}
.online-reg {
    width: 100%;
}
/**************Side_bar 240-566 *****************/

div.side_bar {
   width: 100%;
}
ul.side_bar { 
   margin-top: 6%;
}
.side_bar h2.heading {
   font-size: 21px;     
   padding-left: 5px;
   width: 87%;
   text-align: left;
   float:left; 
}
a.side_bar {
  font-size: 19px !important;
}
h2.important-links.aim-important {
    padding: 0px 0px 3px 28px !important;
}
/***********left-bar 240-566 ******************/
.left_bar {
    width: 100% !Important;
}
.text-content .act-step .inner-content ol li {
  width: 95%;
}
.steps p {
    font-size: 19px;
    padding: 12px 4px 2px 14px; 
    line-height: 43px;          
    width: 92%;   
    font-style: normal !important;              
}
.see-more2 {
    margin: 3px 0px -7px 0px;
}
ol.act-step-ol {
    padding-left: 1px;
    padding-top: 10px;
}
.act-step.act-step-procedure {
  padding: 0% 2% 0% 14%;
}
.act-step {                   
  float: left;
    padding: 0% 2% 0% 12%;
}
.Code-SMS p {
    font-size: 19px;
    width: 92%;       
}
span.unibull.unibull1 {              
  position: relative;
  top: 4px;
}
span.unibull.unibull2 {
  position: relative;
  top: 7px;
}
span.unibull.unibull3 {
  position: relative;
  top: 7px;
}
div#text-contents-list {          
  padding-right: 0% !important;
  width: 94% !important;
}
li#procedure-step-detail1, li#procedure-step-detail2, li#procedure-step-detail3, li#procedure-step-detail4 {
  margin-left: -40px;
  width: 115% !important;
}
.inner-content ol li {
  width: 97%;
}
.inner-text {
  margin-left: -15px;
}
.inner-text h3 {
  width: 105% !important;
}
.inner-text p a.blue {   
    font-size: 19px;
}
.inner-text p {
    width:104%;
   margin-left: -45px;
}
p.procedure2 {
  width: 120% !important;
}
li#postpaid-mobile-user, ol.postpaid-docs, li#prepaid-mobile-user, ol.prepaid-docs {
  width: 120% !important;
}
div#text-contents-details3, div#text-contents-details4 {
    width: 95% !important;
}
/****************mobile-form 240-566 ****************/
.version {         
  display: none;
}
span.search {
    width: 100%;
    font-size: 16px;
    padding-right: 0px;
}

.searchinput {
    width: 75%;
    float: left;
    padding-top: 12px;
}
.searchinput-btn input {
    width: 60% !important;
}

}/***** End 240-566px *****/


/**************** START 567-665px ==***********/
@media screen and (min-width: 567px) and (max-width: 665px) {

/*************Header 567-665 ***************/
#nav1 {
    width: 100%;
}
.language-change {
      margin: 0px !important;
}
.language-change span {
  font-size: 14px;
}
h1.main1-hindi {
    font-size: 21px;
}
h3.main-hindi {
    font-size: 17px;
}
div#nav2 {
    display:none;      
}
.responsive-menu {
   background-size: 6% 100%;
   width: 8%;
}
.online-reg {
    width: 100%;
}

/************sidebar 567-665 *************/

.side_bar h2.heading { 
  
   font-size: 21px;
   padding-left: 10px;
   width: 98%;
   text-align: left;
   float:left 
}
a.side_bar {
  font-size: 19px !important;
}

/***********left-bar 567-665 **************/
.steps p {
    padding: 15px 0px 12px 10px;
    font-size: 23px;
    width: 94%;
}

.act-step {
    padding: 0 1% 0 7.5%;
    width: auto;
}
span.search {
    width: 96%;
    float: left;
    font-size: 17px;
    padding-bottom: 4%;
}
.searchinput-btn input {
   width: 54% !important;
}
.version p {
    width: 50%;
    float: left;
    text-align: center;
    border-right: none !important;
}
.version p.for-hindi {
    text-align: center;
}

}/******* End 567-665px *******/


/**************** START 666-737px ****************/
@media screen and (min-width: 666px) and (max-width: 737px) {
/*************Header 666-737 ***************/
#nav1{
    width: 100%;
}
.language-change {
      margin: 0px !important;
}
.language-change span {
  font-size: 14px;
}
h1.main1-hindi {
    font-size: 22px;
}
h3.main-hindi {
    font-size: 18px;}
div#nav2 {
    display: none;     
}
.responsive-menu {
   background-size: 7% 100%;
   width: 7%;
}
.online-reg {
    width: 100%;
}
/************sidebar 666-737 *************/
.important-links {
    padding: 17px 0px 18px 28px;
}
.act-step.act-step-procedure {
  padding-left: 7%;
}
.act-step {
    padding : 0% 1% 0% 4%;
	width: auto;
}
.side_bar h2.heading {
	font-size: 20px;
	padding-left: 10px;
    width: 98%;
   text-align: left;
   float:left;   
}

/***********left-bar 666-737 **************/
.steps p {
    padding: 11px 0px 9px 16px;
    width: 95%;
}

span.search {
    width: 96%;
    float: left;
    font-size: 17px;
    padding-bottom: 4%;
}
.searchinput {
    width: 50%;
    float: left;
}
.searchinput-btn input {
   width: 54% !important;
}
.version p {
    width: 50%;
    float: left;
    text-align: center;
    border-right: none !important;
}
.version p.for-hindi {
    text-align: center;
}

}/************* End 666-737 ************/

/*** Tap to see more Mobile Sub Menu block **/

@media screen and (min-width: 740px) and (max-width: 766px) {
.steps-3-heading:after {

  font-size:17px;
  content: " (टैप करके खोलें)";
  letter-spacing : 1.5px;
}
.see-more2 {
  display: none;
}

}/****** End 740-766px *****/
@media screen and (min-width: 452px) and (max-width: 739px) {
 .steps-3-heading:after {
  display:none;
}
}/****** End 739-452px *****/
@media screen and (min-width: 240px) and (max-width: 451px) {
.steps-3-heading:after {

  font-size:17px;
  content: " (टैप करके खोलें)";
  letter-spacing : 1.5px;
}
.see-more2 {
  display: none;
}
}/****** End 240-451px *****/
@media screen and (min-width: 590px) and (max-width: 730px) {
.see-more2 {
    margin: 3px 0px -15px 0px;
}
}/****** End 590-730px *****/

@media screen and (min-width: 540px) and (max-width: 589px) {
.see-more2 {
    margin: 3px 0px -10px 0px;
}
}/****** End 540-789px *****/
@media screen and (min-width: 440px) and (max-width: 539px) {
.see-more2 {
    margin: 3px 0px -9px 0px;
}
}/****** End 440-539px *****/
/****** Tap to See More Mobile Block End ***/

/** Sidebar Mobile Adjustments ***/

@media screen and (min-width: 545px) and (max-width: 565px) {
      .side_bar h2.heading {
   margin: 20px 0px 0px 35px;
}
}/****** End 545-565px *****/
@media screen and (min-width: 505px) and (max-width: 534px) {
.side_bar h2.heading {
    margin: 9px 0px 0px 35px;
}
}/****** End 505-534px *****/
/** End Sidebar Mobile Adjustments ***/


/************* START 738-766 ************/
@media screen and (min-width: 738px) and (max-width: 766px) {
 .main-navi ul li.nav_bar {
    padding: 0px 0.25% 0px 1.25% !important;
}
   .responsive-menu {
    width:8%;
}
.online-reg  {
   font-size: 18px !important;
   width:100% !important;
}

}/************* End 738-766 ************/

/************* START 738-790 = IPad Mini Potrait= ***************/

@media screen and (min-width: 738px) and (max-width: 790px) {

/*************Header 738-790 ***************/
div.navigation {
  height: 100%;
}
.logosms img {
	display:none;
}
#nav1 {
   width:100%;   
}
div#nav2 {
    display:none;
}
h1.main1-hindi {
  font-size: 24px !important;
}
.main-navi {
    float: left;
    width: 100%;
    background-color: #fff;
    color: #eaa56e;
}
.main-navi ul {
  width: 65%;
  float: left;
}
.main-navi ul li.nav_bar:first-child {
    padding-left: 19px;
}
.main-navi ul li.nav_bar {
  padding: 0px 0.25% 0px 1.5%;
}
a.nav_bar {
  font-size: 17px !important;
  color: #DD823A !important;
}
.responsive-menu {
  display:none;
}
.online-reg {
    width: 35%;
	padding: 8px 0px 3px 0px;
}
.online-reg a {
    font-size: 18px !important;
}
/************sidebar 739-790 *************/
.important-links {
    padding: 13px 4px;
    margin: 0px;
}
.act-step {
    padding-right: 1%;
	width: 89%;
}
.side_bar h2.heading {
     text-align: left;
    padding-left: 0px;
	font-size: 20px;
	width:99%;
	float:left  
}
a.side_bar {
  font-size: 19px !important;
}
/***********left-bar 738-790 **************/
div.left_bar{
   text-align:left;
}
.steps p {
    padding: 6px 0px 9px 16px;
}
.act-step.act-step-procedure {
    padding-left: 9%;
}
.Code-SMS {
    padding-left: 21px !important;    
}
span.search {
    width: 60%;
    float: left;
    font-size: 17px;
    padding-bottom: 4%;
}
.searchinput-btn input {
   width: 54% !important;
}
.version p {
    width: 50%;
    float: left;
    text-align: center;
    border-right: none !important;
}
.version p.for-hindi {
    text-align: center;
}
/************footer 738-790 ***********/

.mobile-view-display  {
display:none;
}

}/****** End 738-790px *****/


/*************** START 950-1024px **************/

@media (min-width:950px) and (max-width:1024px){

.main-navi ul li.nav_bar {  
    padding-left: 8px;
}
.steps p {
    font-size: 23px;   
    word-spacing:2px;  
}
span.search {
    width: 36%;
    padding-right: 5%;
}
.side_bar h2.heading {
     padding-left: 3%;
     font-size: 24px;
}
/** Footer 950-1024 **/
.mobile-view-display  {
display:none;
}

}/*************** End 950-1024px **************/

/***** START 791-949 = 110 and 125 percent at 1024 res ****/
@media (min-width:791px) and (max-width:949px){

.logosms img {
	display:none;
}
#nav1 {
    width: 86%;
    float: right;
}
h1.main1-hindi {
    font-size: 23px !important;
}
h3.main-hindi {
    font-size: 18px !important;
}
div#nav2 {
    display:none;
}
  .steps p {
    font-size: 22px;
    word-spacing:4px;  
}
.main-navi ul {
  width: 65%;
}
main-navi ul li.nav_bar {
  display: inline;
  padding: 0% !important;
}
div.navigation{
  height:auto;
} 
.online-reg {
    width: 35%;
	padding: 8px 0px 7px 0px;
}
.side_bar h2.heading {
     padding-left: 2%;
     font-size: 20px;
}

/************footer 791-949 ***********/

.mobile-view-display  {
display:none;
}

}/************End 791-949 ***********/

@media screen and (min-width: 240px) and (max-width: 340px) {

body {
  width :97%;
  word-break: break-word;
}
.responsive-menu {
  width: 15%;
}
.act-step.act-step-procedure {
  padding : 0% 2% 0% 17%;
}
.steps p {
padding: 12px 4px 0px 14px;
}
.text-content .act-step .inner-content ol li {
  width: 92%;
}
.side_bar h2.heading {
  width: 85%;
}
}/** End 240-320 **/
/*******************************************************************/